#!/bin/bash

# Logging
LOG_FILE="/var/log/hardening.log"

# Firewall
FIREWALL_DIR="/etc/hardening"
FIREWALL_RULES="/etc/hardening/firewall.rules"

DEFAULT_INPUT="deny"
DEFAULT_OUTPUT="allow"

# SSH
SSH_PORT=2222

ALLOW_HTTP=true
ALLOW_HTTPS=true

# Kernel
SYSCTL_CONFIG="/etc/sysctl.conf"

# SSH configuration
SSHD_CONFIG="/etc/ssh/sshd_config"

# Identity
PASS_MIN_LEN=12
PASS_MAX_DAYS=90
FAIL_LOCK_ATTEMPTS=5
UID_THRESHOLD=1000

# PAM
PWQUALITY_CONFIG="/etc/security/pwquality.conf"
COMMON_PASSWORD="/etc/pam.d/common-password"
FAILLOCK_CONFIG="/etc/security/faillock.conf"
COMMON_AUTH="/etc/pam.d/common-auth"

# System packages
REMOVE_PACKAGES="telnet ftp netcat-traditional"
INSTALL_PACKAGES="auditd fail2ban"
